
html{
	background:white;
}
body{
	margin: auto;
	background: #eee;
	padding-left: 0;
	width: 90%;
}

 header{
 	background: gray;
 	padding: 10px;
 	overflow: hidden;
 }
 .header-left{
 	float: left;
 	padding-left: 10Px;
 }
 .header-right{
 	padding: 40px;
 	float: right;
 	padding-right: 20px;
 }
 .img{
 	float: left;
 	border-radius:30%;
 	width: 200px;
 	height: 190px;
 }
 img{
 	width: 200px;
 	height:190px;
 	border-radius:50%;
 }
 .name{
 	padding-bottom: 30px;
 	float: right;
 	margin-left: 10px;
 }
.content{
	padding: 20px;
}
.row{
  border-bottom: 2px solid #ccc;
  overflow: hidden;
  margin-top: 20px;
}
.row:last-child{
	border:none;
}
.col-left{
	border:none;
	float:left;
    font-style: italic;
	width:20%;
	margin-left: 4%;
}
    
.col-right{
	float: right;
    font-style: italic;
	width:20%;
	margin-left: 4%;
	width: 60%;
	margin-right: 4%;
}
.col-same{ 
	float: left;
	width: 32%
}
